@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "logreg";
}

<div class="auth-wrapper">
    <div class="auth-card glass">
        <h2 class="title">Create Account</h2>
        <p class="sub">Join Symphony and Empower Your Skills</p>

        <form>
            <div class="input-group">
                <input type="text" placeholder="Full Name">
            </div>

            <div class="input-group">
                <input type="email" placeholder="Email Address">
            </div>

            <div class="input-group">
                <input type="password" placeholder="Password">
            </div>

            <div class="input-group">
                <input type="password" placeholder="Confirm Password">
            </div>

            <button class="btn-main">Register</button>

            <p class="switch">
                Already registered?
                <a asp-controller="Home" asp-action="register">Login</a>
            </p>

        </form>

    </div>
</div>