
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    background: radial-gradient(circle at top left, #dff5ff, #f7fbfe, #eef7ff);
    height: 100vh;
}


.main-header {
    width: 100%;
    padding: 18px 40px;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    border-bottom: 2px solid #e7f3ff;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #0c7b84;
}


.auth-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.auth-card {
    width: 420px;
    padding: 40px;
    border-radius: 18px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
    text-align: center;
}

.title {
    font-size: 28px;
    color: #0c7b84;
    font-weight: 700;
}

.sub {
    font-size: 14px;
    margin-bottom: 25px;
    color: #5f7880;
}

/* Inputs */
.input-group input {
    width: 100%;
    padding: 14px;
    margin: 7px 0;
    border-radius: 10px;
    border: 1px solid #c2dced;
    background: #f5fbff;
    font-size: 15px;
    transition: .3s;
}

    .input-group input:focus {
        border-color: #00b2bc;
        box-shadow: 0 0 5px rgba(0,178,188,0.4);
        outline: none;
    }


.btn-main {
    width: 100%;
    padding: 14px;
    background: #0f766e;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
}

    .btn-main:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(0,150,150,0.3);
    }


.switch {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

    .switch a {
        color: #0c8ca1;
        text-decoration: none;
        font-weight: 600;
    }


body::before {
    content: "";
    position: absolute;
    top: 120px;
    right: 120px;
    width: 130px;
    height: 130px;
    background: #d3fbf0;
    border-radius: 20px;
    opacity: 0.55;
}

body::after {
    content: "";
    position: absolute;
    bottom: 130px;
    left: 150px;
    width: 90px;
    height: 90px;
    background: #ffe8c7;
    border-radius: 50%;
    opacity: 0;
}
